@media (max-width:500px) 
{
    
    .head{
        font-size: 25px;
        padding: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .flex-container{
        display: flex;
        flex-flow: row wrap;
        background-color: whitesmoke;
        padding-top: 20px;
        
    }
    .flex-item{
        width: 200px;
        height: 200px;
        background-color: white;
        margin:20px;
        border-radius: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .test
    {
        position:absolute;
        left:160px;
        top:70px; 
    }
    
}